html {
    font-size: 20px;
}
    input[type=text] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    flex: content;
  }
  body{
      background-color:rgb(196, 19, 202);
  }
  .btn{
      width:10%;
      border: 1px solid blue;
  }